
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
obj/Debug/net5.0/ref/Library.dll
obj/Debug/net5.0/refint/Library.dll
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
.vs/Library/v17/.suo
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.exe
bin/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.runtimeconfig.dev.json
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Library.assets.cache
obj/Debug/net5.0/Library.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Library.genruntimeconfig.cache
obj/Debug/net5.0/Library.pdb
obj/Library.csproj.nuget.dgspec.json
obj/Library.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
bin/Debug/net5.0/Library.dll
bin/Debug/net5.0/Library.pdb
obj/Debug/net5.0/Library.dll
obj/Debug/net5.0/Library.pdb
